<form>
    <div fxLayout="row" fxLayoutXs="row" fxLayoutAlign="space-around" fxLayoutGap class="main">
      
      <div fxFlex="99">
        <mat-card>
            <mat-card-header>
                <mat-card-title>CHANGE PASSCODE</mat-card-title>
            </mat-card-header>
        

        <mat-form-field>
            <mat-placeholder>
                <mat-icon>lock</mat-icon>  Current Passcode
            </mat-placeholder>
          <input matInput type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-placeholder>
                <mat-icon>lock</mat-icon>   New Passcode
            </mat-placeholder>
          <input matInput type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-placeholder>
                <mat-icon>lock</mat-icon> Confirm New Passcode
            </mat-placeholder>
          <input matInput type="password">
        </mat-form-field>
        <button mat-raised-button>Save changes</button>
      </mat-card>
    </div>
    
  </div>
    </form>