 
          <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap class="main">
              
            <mat-card fxFlex="24" fxFlex.xs="47"   class="sec1">
                <h2 class="md-display-1">200R</h2>
                <p class="md-body-1"><small>Current Level/Semester</small></p>
            </mat-card>
            <mat-card fxFlex="24" fxFlex.xs="47"  class="sec2" >
               <h2 class="md-display-1">2017/2018</h2>
                <p class="md-body-1"><small>Current Session</small></p>
            </mat-card>
            <mat-card fxFlex="24" fxFlex.xs="47"  class="sec3">
               <h2 class="md-display-1">5.00</h2>
                <p class="md-body-1"><small>CGPA</small></p>
            </mat-card>
             <mat-card fxFlex="24" fxFlex.xs="47"  class="sec4">
            <h2 class="md-display-1">N20,000</h2>
                <p class="md-body-1"><small>Outstanding Payment</small></p>
            </mat-card>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around" class="main" id="chart-div">
                <mat-card fxFlex="99" >
                        <img src="assets/images/chart.JPG" alt="chart" />
                </mat-card>
                
            </div>

            <div fxLayout="row wrap" fxLayoutXs="row" fxLayoutAlign="space-around" fxLayoutGap class="main" style="margin-bottom:10px;">
                <mat-card fxFlex="24" fxFlex.xs="47"   class="sec12">
                    <h3>REGISTER</h3>
                </mat-card>
                <mat-card fxFlex="24" fxFlex.xs="47" class="sec22" >
                   <h3>MAKE PAYMENT</h3>
                </mat-card>
                <mat-card fxFlex="24" fxFlex.xs="47" class="sec32">
                   <h3>CHECK RESULT</h3>
                </mat-card>
                 <mat-card fxFlex="24"  fxFlex.xs="47" class="sec42">
                <h3>VIEW </h3>
                </mat-card>
              </div>

          